[user]
	name = Jonathan Doherty
	email = dohjon@users.noreply.github.com
[core]
	autocrlf = input
	editor = code --wait
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitcommit
[init]
	defaultBranch = main
[alias]
	st = status --short
	br = branch --all --verbose
	co = checkout -b
	# Compare the working area with the staging area
	dws = diff
	# Compare the staging area with the repository
	dsr = diff --cached
	# Move file from the staging area to the working area (unstage)
	unstage = rm --cached -r
	# Move all files (untracked as well) in the working area and the staging area to the stash
	stash = stash --include-untracked
