[user]
	name = Jonathan Doherty
	email = dohjon@users.noreply.github.com
[core]
	autocrlf = input
	editor = code --wait
	# editor = vim
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitcommit
[init]
	defaultBranch = main
[fetch]
	prune = true
[alias]
	# See alias in .zshrc
[includeIf "gitdir/i:~/dev/github/phem-org/"]
	path = ~/.gitconfig-work