Host *
  IdentitiesOnly yes

Host github.com
  HostName github.com
  User git
  IgnoreUnknown AddKeysToAgent,UseKeyChain #ignore mac only commands on other OS
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile <REDACTED>

Host github-work.com
  HostName github.com
  User git
  IgnoreUnknown AddKeysToAgent,UseKeyChain #ignore mac only commands on other OS
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile <REDACTED>